/* Header.css */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff2cc; /* Cream background */
  color: #333; /* Dark gray text color */
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

nav {
  display: flex;
  margin-right: 45px;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: #333; /* Dark gray text color */
  font-weight: bold;
}

a:hover{
  color: #EF7C8E;
}

/* Navigation toggle button styles */
.nav-toggle {
  display: none;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

.nav-toggle.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-toggle.active span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation styles for small screens */
@media (max-width: 768px) {
  .header{
    width: 90%;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(244, 235, 208, 0); /* Set initial transparency to 0 */
    transition: background-color 0.3s ease, max-height 0.3s ease; /* Add max-height transition */
  }

  nav.active {
    display: flex;
    background-color: rgba(244, 235, 208, 0.9); /* Change transparency to 0.9 when active */
  }

  /* Adjust styles as needed for better mobile experience */
  a {
    margin: 10px 0;
    text-align: center;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for text color change */
  }

  a:hover {
    color: #EF7C8E;
  }

  /* Animation for dropdown menu */
  nav:not(.active) {
    max-height: 0;
    overflow: hidden;
  }

  nav.active {
    max-height: 1000px; /* Adjust to a sufficiently large value to accommodate all items */
  }

  nav a{
    text-decoration: underline;
    text-underline-offset: 4px; /* Adjust the spacing as needed */
    text-decoration-skip-ink: auto;
    padding: 6px;
  }
}