/* MainSection.css */
.main-section {
  padding: 50px;
}

.intro {
  max-width: 600px;
  margin: 0 auto;
}

.my-img {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: block; /* Ensure the image is a block element */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
  max-height: 300px; /* Set a max height to prevent images from becoming too tall */
  border-radius: 0px;
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000; /* Set border color to black */
  font-size: 36px;
  animation: typing 4s steps(40, end), blink-caret 0.5s step-end 4s forwards;
  color: #333;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #000; }
}
.small-text {
  font-size: 1.3rem;
  color: #666; /* Dark gray text color */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .typing-text {
    font-size: 1.7rem; /* Adjust the font size for smaller screens */
  }
}